/* 두꺼운 제목 */
@font-face {
  font-family: "Cafe24Meongi-W-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 달력 날짜 */
@font-face {
  font-family: "RIDIBatang";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일기 내용 */
@font-face {
  font-family: "Middleschool_student";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "HSSaemaul-Regular";
}

@media (min-width: 650px) {
  .App {
    width: 65vw;
  }
}

#root {
  box-shadow: rgba(100, 100, 111, 0.2), 0px 7px 29px 0px;
}

h2 {
  color: #3e3f41;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 65vw;
}

/* MyButton */
.MyButton {
  font-family: "HSSaemaul-Regular";
  cursor: pointer;
  color: #3e3f41;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 25px;
  white-space: nowrap;
}

.MyButton_default {
  background-color: #ffffff;
}

.MyButton_positive {
  background-color: #ffffff;
}

.MyButton_negative {
  color: #d5b4b4;
  background-color: #ffffff;
}

/* Header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9c9d9e;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 55px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* Calender */
/* Add this CSS to your existing stylesheet or create a new one */

.calender {
  margin-top: 2px;
  font-size: 17px;
  font-family: "RIDIBatang";
  color: #707276;
  border-top: 1px solid #9c9d9e;
  padding-top: 15px;
}

.week_row {
  display: flex;
}

.week_row div:first-child {
  color: #d36a6a;
}

.week_row div:last-child {
  color: #587db8;
}

.day_row {
  display: flex;
  height: 160px;
}

.col {
  flex: 1;
  text-align: center;
  padding: 8px;
}

.cell {
  position: relative;
}

.diary_titles {
  cursor: pointer;
  margin-top: 10px;
  font-family: "Middleschool_student";
  font-size: 25px;
}

.cell span {
  display: flex;
}

.valid {
  background-color: #ffffff;
}

.disabled {
  color: #e3d7d7;
}

.today {
  color: #587db8;
}

.today_btn {
  border: none;
  background-color: #ffffff;
  color: #3e3f41;
  font-family: "HSSaemaul-Regular";
  font-size: 25px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
}

/* DiaryList */
.DiaryList .menu {
  margin: 2px 0 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #9c9d9e;
}

.DiaryList .menu .ControlMenu {
  border: none;
  color: #3e3f41;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "HSSaemaul-Regular";
  background-color: #ffffff;
  font-size: 25px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #9c9d9e;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  margin-top: 25px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  font-family: "Middleschool_student";
}

.DiaryItem .btn_wrapper {
  display: flex;
  align-items: flex-end;
}

.DiaryItem .diary_date {
  font-family: "HSSaemaul-Regular";
  font-size: 25px;
  margin: 10px 0;
  color: #3e3f41;
}

.DiaryItem .diary_content {
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  cursor: pointer;
}

.DiaryItem .diary_song_icon {
  margin-right: 10px;
  font-size: 18px;
}

.DiaryItem .diary_song {
  font-size: 23px;
}

/* HandleDate */
.HandleDateWrapper {
  display: flex;
  justify-content: space-between;
}

.HandleDate {
  display: flex;
}

.HandleDate .select_year,
.select_month {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  font-family: "HSSaemaul-Regular";
  font-size: 22px;
  background-color: #ffffff;
  color: #3e3f41;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor h2 {
  font-size: 30px;
  font-weight: normal;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 15px;
  cursor: pointer;
  font-family: "HSSaemaul-Regular";
  font-size: 17px;
}

.DiaryEditor .DateWeatherWrapper {
  display: flex;
  justify-content: space-between;
}

.DiaryEditor .weatherWrapper {
  margin-right: 10px;
  width: 600px;
}

.DiaryEditor .weather_list_wrapper {
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.DiaryEditor .song_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 22px;
  box-sizing: border-box;
  width: 47%;
  min-height: 20px;
  resize: vertical;
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px 10px;
}

.DiaryEditor .text_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 22px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  border-radius: 5px;
  padding: 5px 10px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 20px 0;
}

/* CheckListPage */
.CheckEditor {
  margin: 30px 0 40px 0;
}

.check_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CheckListPage .check_wrapper button {
  width: 10%;
  height: 50px;
  font-family: "HSSaemaul-Regular";
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.CheckListPage .check_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 22px;
  box-sizing: border-box;
  width: 85%;
  min-height: 20px;
  resize: vertical;
  border-radius: 5px;
  padding: 5px 10px;
}

/* CheckList*/
.CheckList textarea {
  font-family: "Middleschool_student";
  font-size: 22px;
  box-sizing: border-box;
  width: 85%;
  min-height: 20px;
  resize: vertical;
  border-radius: 5px;
  padding: 5px 10px;
}

/* CheckItem */
.CheckItem {
  font-family: "Middleschool_student";
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

.CheckItem .checkName {
  display: flex;
  align-items: flex-end;
}

.CheckItem .checkdate {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}

.CheckItem button {
  font-family: "HSSaemaul-Regular";
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 60px;
}

/* EmotionItem */
.Item {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Item img {
  width: 60px;
  margin-bottom: 10px;
}

.Item span {
  font-size: 18px;
  text-align: center;
}

.Item_on span {
  border-bottom: 3px solid black;
  transition: 0.1s ease-in-out;
}

/* Diary */

.DiaryPage {
}

.diary_wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.diary_wrapper .img_wrapper {
  display: flex;
  align-items: center;
}

.date_wrappper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.date_wrappper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song_wrappper {
  display: flex;
  align-items: baseline;
  width: 95%;
  margin: 0 auto;
}

.DiaryPage h2 {
  font-size: 23px;
  font-weight: normal;
}

.DiaryPage p {
  font-family: "Middleschool_student";
  font-size: 30px;
  color: black;
}

.DiaryPage .img_wrapper p {
  font-family: "Middleschool_student";
  font-size: 40px;
  color: black;
  margin: 7px 0;
}

.diary_img_wrapper img {
  width: 50px;
  height: 50px;
}

.img_wrapper img {
  width: 80px;
  height: 75px;
  margin-right: 15px;
}

.DiaryPage .emotion_descript {
  font-family: "Middleschool_student";
  font-size: 24px;
  margin-left: 5px;
}

.DiaryPage .diary_content_wrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
