/* 기본 설정 */
@font-face {
  font-family: "EF_hyunydororong";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunydororong.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "EF_hyunydororong";
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (min-width: 650px) {
  .App {
    width: 70vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2), 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 70vw;
}

/* MyButton */
.MyButton {
  font-family: "EF_hyunydororong";
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 25px;
  white-space: nowrap;
}

.MyButton_default {
  color: #132043;
  background-color: white;
}

.MyButton_positive {
  color: #59729a;
  background-color: white;
}

.MyButton_negative {
  color: #e0a8b3;
  background-color: white;
}

/* Header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f1b4bb;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-family: "EF_hyunydororong";
  font-size: 30px;
  color: #1f4172;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
  color: #1f4172;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
  color: #1f4172;
}

/* DiaryList */
.DiaryList .menu {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu .ControlMenu {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "EF_hyunydororong";
  color: #59729a;
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .btn_wrapper {
  display: flex;
  align-items: flex-end;
}

.DiaryItem .diary_date {
  font-weight: bold;
  color: #59729a;
  font-size: 18px;
  margin: 10px 0;
}

.DiaryItem .diary_content {
  font-size: 18px;
  font-family: "UhBeeSe_hyun";
}

/* select_date */
.SelectDate {
  display: flex;
}

.SelectDate .select_year,
.select_month {
  border: none;
  border-radius: 5px;
  margin: 10px 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "EF_hyunydororong";
  font-size: 20px;
  color: #e0a8b3;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor h2 {
  color: #59729a;
  font-size: 23px;
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #f5f2f2;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "EF_hyunydororong";
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.DiaryEditor textarea {
  font-family: "UhBeeSe_hyun";
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border-radius: 5px;
  padding: 20px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* EmotionItem */
.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.Emotion_on span {
  border-bottom: 3px solid #e0a8b3;
  color: #e0a8b3;
  transition: 0.1s ease-in-out;
}
