/* 두꺼운 제목 */
@font-face {
  font-family: "TTCrownMychewR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 달력 날짜 */
@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일기 내용 */
@font-face {
  font-family: "Middleschool_student";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "TTCrownMychewR";
  background-color: #fff6f6;
}

@media (min-width: 650px) {
  .App {
    width: 65vw;
  }
}

#root {
  background-color: #fff6f6;
  box-shadow: rgba(100, 100, 111, 0.2), 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  width: 65vw;
  background-color: #fff6f6;
}

/* MyButton */
.MyButton {
  font-family: "TTCrownMychewR";
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 30px;
  white-space: nowrap;
}

.MyButton_default {
  color: #c88ea7;
  background-color: #fff6f6;
}

.MyButton_positive {
  color: #99627a;
  background-color: #fff6f6;
}

.MyButton_negative {
  color: #d5b4b4;
  background-color: #fff6f6;
}

/* Header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #99627a;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-family: "TTCrownMychewR";
  font-size: 40px;
  color: #99627a;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
  color: #c88ea7;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
  color: #c88ea7;
}

/* Calender */
/* Add this CSS to your existing stylesheet or create a new one */

.calender {
  margin-top: 20px;
  font-size: 17px;
  font-family: "SDSamliphopangche_Basic";
}

.week_row {
  display: flex;
}

.week_row div:first-child {
  color: #dc8686;
}

.week_row div:last-child {
  color: #637a9f;
}

.day_row {
  display: flex;
  height: 160px;
}

.col {
  flex: 1;
  text-align: center;
  padding: 8px;
}

.cell {
  position: relative;
}

.diary_titles {
  cursor: pointer;
  margin-top: 10px;
  font-family: "Middleschool_student";
  font-size: 25px;
}

.cell span {
  display: flex;
}

.valid {
  background-color: #fff6f6;
}

.disabled {
  color: #e3d7d7;
}

.today {
  color: #c88ea7;
}

.today_btn {
  border: none;
  background-color: #fff6f6;
  font-family: "TTCrownMychewR";
  font-size: 30px;
  color: #99627a;
  cursor: pointer;
  margin: 0 10px;
}

/* DiaryList */
.DiaryList .menu {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu .ControlMenu {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "TTCrownMychewR";
  color: #c88ea7;
  background-color: #fff6f6;
  font-size: 25px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #c88ea7;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  margin-top: 25px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  font-family: "Middleschool_student";
}

.DiaryItem .btn_wrapper {
  display: flex;
  align-items: flex-end;
}

.DiaryItem .diary_date {
  font-family: "TTCrownMychewR";
  color: #c88ea7;
  font-size: 25px;
  margin: 10px 0;
}

.DiaryItem .diary_content {
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  cursor: pointer;
}

.DiaryItem .diary_song_icon {
  margin-right: 10px;
  font-size: 18px;
}

.DiaryItem .diary_song {
  font-size: 23px;
}

/* HandleDate */
.HandleDateWrapper {
  display: flex;
  justify-content: space-between;
}

.HandleDate {
  display: flex;
}

.HandleDate .select_year,
.select_month {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  font-family: "TTCrownMychewR";
  font-size: 30px;
  color: #c88ea7;
  background-color: #fff6f6;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor h2 {
  color: #c88ea7;
  font-size: 35px;
  font-weight: normal;
}

.DiaryEditor .DateAndWeather {
  display: flex;
}

.DiaryEditor .DateSection {
  width: 45%;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #fff6f6;
  padding: 0 15px;
  cursor: pointer;
  font-family: "SDSamliphopangche_Basic";
  font-size: 17px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.DiaryEditor .title_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 25px;
  box-sizing: border-box;
  width: 100%;
  min-height: 20px;
  resize: vertical;
  border-radius: 5px;
  padding: 15px;
}

.DiaryEditor .song_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 25px;
  box-sizing: border-box;
  width: 45%;
  min-height: 20px;
  resize: vertical;
  margin-right: 20px;
  border-radius: 5px;
  padding: 15px;
}

.DiaryEditor .text_wrapper textarea {
  font-family: "Middleschool_student";
  font-size: 25px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border-radius: 5px;
  padding: 15px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff6f6;
}

/* EmotionItem */
.Item {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Item img {
  width: 60px;
  margin-bottom: 10px;
}

.Item span {
  font-size: 18px;
}

.Item_on span {
  border-bottom: 3px solid #99627a;
  color: #99627a;
  transition: 0.1s ease-in-out;
}

/* Diary */

.DiaryPage {
}

.DiaryPage h2 {
  color: #99627a;
  font-size: 23px;
  font-weight: normal;
}

.DiaryPage p {
  font-family: "Middleschool_student";
  font-size: 30px;
  color: black;
}

.DiaryPage .diary_title_wrapper p {
  font-family: "Middleschool_student";
  font-size: 25px;
  color: black;
}

.DiaryPage .diary_img_wrapper img {
  width: 40px;
}
